<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "mailer", media: "all" %>
  </head>
  <body class="bg-light">
    <preview><%= yield :preview %></preview>
    <div class="container">
      <!-- <img class="mx-auto mt-4 mb-3" width="42" height="30" src="https://placehold.it/172x126" /> -->
      <h2 class="mt-5 mb-3">Lilcore</h2>

      <div class="card mb-4" style="border-top: 5px solid #F2F6FA;">
        <div class="card-body">
          <%= yield %>
        </div>
      </div>

      <table class="table-unstyled text-muted mb-5">
        <tbody>
          <tr>
            <td>© Lilcore 2023</td>
            <td>
              <%= image_tag('/email_assets/facebook@2x.png', size: '20x20', class: "float-right pl-2") %>
              <%= image_tag('/email_assets/twitter@2x.png', size: '20x20', class: "float-right pl-2") %>
              <%= image_tag('/email_assets/instagram@2x.png', size: '20x20', class: "float-right") %>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </body>
</html>
